body {
    background-image: url('../res/3.jpeg');
    background-size: cover; /* Redimensionne l'image pour couvrir toute la surface du corps */
    background-position: center top; /* Centre l'image horizontalement et verticalement */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    
  }
  .conteneur {
    display: flex; /* Utiliser flexbox pour aligner le contenu */
    justify-content: flex-end; /* Aligner le contenu à droite */
    height: 80%; /* Utilisation d'un pourcentage pour la hauteur */
    align-items: center; /* Centrer verticalement le contenu */
  }
  .login-form {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Pour que le bloc se comporte comme un élément en ligne tout en ayant une largeur et une hauteur définies */
  position: absolute; /* Position absolue pour permettre un positionnement précis */
  top: 50%; /* Déplace le haut du bloc à 50% de la hauteur du conteneur parent */
  right: 5%; /* Aligner le bloc à droite */
  transform: translateY(-50%); /* Translate le bloc de moitié de sa hauteur vers le haut pour le centrer verticalement */
  }


.login-form h1 {
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-family: Arial, sans-serif;

}
.a input{
  width: 10%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.login-form input
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-size: 20px;
 

  
}
.login-form input[type="text"],
select,textarea
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

  .button-container input[type="submit"] {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
  }
  

  .button-container input[type="submit"]:hover{
      background-color: #0056b3;
  }

